name: Docker build

on:
  workflow_dispatch:

jobs:
    build_image:
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v2
      - name: Building docker image
        run: docker build . -t github-actions/backend
      - name: Export image
        run: docker save github-actions/backend | gzip > backend_image.tar.gz
      - name: Setup SSH
      - uses: kielabokkie/ssh-key-and-known-hosts-action@v1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
          ssh-host: ${{ secrets.SERVER }}
      - name: Copy docker image to server
        env: 
          SERVER: ${{ secrets.SERVER_IP }}
          USER: ${{ secrets.SERVER_USER }}
        run: scp backend_image.tar.gz $USER@$SERVER:/var/www/api

      
