name: Docker build

on:
  workflow_dispatch:

env:
  SERVER: ${{ secrets.SERVER_IP }}
  USER: ${{ secrets.SERVER_USER }}
  
jobs:
    build:
      name: Build Docker Image
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v2
      
      - name: Building docker image
        run: docker build -t github-actions/backend .
        
      - name: Export image
        run: docker save erodrigues-dev/backend-example | gzip > backend_image.tar.gz
        
      - uses: actions/upload-artifact@v2
        with:
          name: docker_image
          path: backend_image.tar.gz
      
    list_files:
      name: List Files
      needs: build
      runs-on: ubuntu-latest
      steps:
      - uses: actions/download-artifact@v2
        with: 
          name: docker_image
          
      - name: List files
        run: ls -l
    
#     deploy:
#       needs: list_files
#       runs-on: ubuntu-latest
#       steps:
#       - uses: kielabokkie/ssh-key-and-known-hosts-action@v1
#         with:
#           ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
#           ssh-host: ${{ secrets.SERVER_IP }}
          
#       - name: Deploy to server
#         run: scp backend_image.tar.gz $USER@$SERVER:/var/www/api
        
#       - name: Load Image in Server
#         run: ssh $USER@$SERVER -t |
#           "cd /var/www/api;
#           docker load -i backend_image.tar.gz;
#           docker run -d --name my-api-example -p 3000:3000  erodrigues-dev/backend-example;"
          

      
