name: Docker build

on:
  workflow_dispatch:

env:
  SERVER: ${{ secrets.SERVER_IP }}
  USER: ${{ secrets.SERVER_USER }}
  
jobs:
    build:
      runs-on: ubuntu-latest
      steps:
      - uses: kielabokkie/ssh-key-and-known-hosts-action@v1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
          ssh-host: ${{ secrets.SERVER_IP }}
      - uses: actions/checkout@v2
      
      - name: Building docker image
        run: docker build . -t github-actions/backend
        
      - name: Export image
        run: docker save github-actions/backend | gzip > backend_image.tar.gz
        
      - name: Deploy to server
        run: scp backend_image.tar.gz $USER@$SERVER:/var/www/api

      
